body{
    font-family: 'Roboto', sans-serif;
}
.fa-shopping-cart{
    padding-right: 10px;
}

.navbar-content{
    width: 100%;
}

.navbar-nav li:last-child{
    margin-left: 70%;
}

.box-image{
    margin-top: 30px;
}

.content-others{
    margin-bottom: 30px;
}

.title-products{
    text-align: center;
}
.chromebook{
    margin-top: 20px;
    background-image: url('../img/chromebook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition: .2s ease-in-out;
}

.imac{
    background-image: url('../img/imac.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    transition: .2s ease-in-out;
}

.samsung{
    margin-top: 20px;
    background-image: url('../img/samsung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition: .2s ease-in-out;
}

.agenda{
    margin-top: 20px;
    background-image: url('../img/agenda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition: .2s ease-in-out;
}

.fone{
    margin-top: 20px;
    background-image: url('../img/fone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    transition: .2s ease-in-out;
}

.nutella{
    margin-top: 20px;
    background-image: url('../img/nutella.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    transition: .2s ease-in-out;
}


.chromebook:hover,
.samsung:hover,
.imac:hover,
.agenda:hover,
.fone:hover,
.nutella:hover{
    opacity: 0.5;
}


.rodape{
    text-align: center;
    height: 30px;
}